<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      internalLogFile="nlog.log"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <variable name="callsite_" value="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}"/>
  <variable name="exception_" value="${onexception:${newline}${exception:format=ToString:maxInnerExceptionLevel=2:innerFormat=ToString}}"/>
  <variable name="exception_brief_" value="${onexception:\: ${exception:format=message} (${exception:format=type})}"/>
  <variable name="time_" value="${time:universalTime=True}"/>
  <variable name="level_" value="${pad:padding=-5:inner=${level}}"/>
  <variable name="logger_" value="${pad:padding=-20:inner=${logger}}"/>
  <variable name="threadid_" value="${pad:padding=-3:inner=${threadid}}"/>
  <variable name="layout_file_" value="${time_} | ${threadid_} | ${level_} | ${logger_} | ${message} ${exception_}"/>
  <!--<variable name="layout_file_" value="${time_} | ${threadid_} | ${level_} | ${logger_} | ${message} [${callsite_}] ${exception_}"/>-->
  <variable name="layout_console_" value="${time_} | ${threadid_} | ${level_} | ${logger_} | ${message}${exception_brief_}"/>
  <variable name="filename_" value="${shortdate:universalTime=True}"/>
  <variable name="header_layout_" value=
"------------------------------
${newline}Process:    ${processname}
${newline}Version:    ${assembly-version}
${newline}Start time: ${processinfo:property=StartTime}
${newline}Machine:    ${windows-identity}
${newline}------------------------------${newline}" />
  <targets>
    <target xsi:type="AsyncWrapper" name="file" overflowAction="Grow">
      <target
        name="file"
        xsi:type="File"
        header="${header_layout_}"
        concurrentWrites="False"
        keepFileOpen="True"
        fileName="${basedir}/logs/${filename_}.log"
        layout="${layout_file_}"/>
    </target>

    <target xsi:type="AsyncWrapper" name="console">
      <target name="console" xsi:type="ColoredConsole" layout="${layout_console_}"/>
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file,console" />
  </rules>
</nlog>